<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>shows</title>
    </head>
    <body>
        <input autocomplete="off" autofocus placeholder="Query" type="text">

        <ul></ul>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>

            let input document.querySelector('input');
            input.addEventListener('keyup', function () {
                jQuery.get('/search?q=' + input.value, function(shows) {
                    let html = '';
                    for (let id in shows)
                    {
                        let title = shows[id].title;
                        html += '<li>' + title '</li>';
                    }
                    document.querySelector('ul').innerHTML = html;
                });
                // $.get('/search?q=' + input.value) short hand notation
            });
        </script>
    </body>
</html>
